{% extends "_layouts/citizen.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block beforeContent %}
  {{ govukBackLink({ text: back, href: backHref }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errors | length %}
        {{ govukErrorSummary({ titleText: errorSummaryTitle, errorList: errors | govukErrorSummary }) }}
      {% endif %}

      <form method="post" novalidate>
        {% include "_partials/csrf-input.njk" %}
        <span class="govuk-caption-l">{{ caption }}</span>
        <h1 class="govuk-heading-l">{{ heading }}</h1>

        {{ govukCharacterCount({
          id: "socialCareIssues",
          name: "socialCareIssues",
          value: values.socialCareIssues,
          maxlength: 5000,
          rows: 8,
          label: { text: socialCareIssuesLabel, classes: "govuk-label--s" },
          errorMessage: { text: errors.socialCareIssues } if errors.socialCareIssues
        }) }}

        {{ govukCharacterCount({
          id: "socialCareRecommendations",
          name: "socialCareRecommendations",
          value: values.socialCareRecommendations,
          maxlength: 5000,
          rows: 8,
          label: { text: socialCareRecommendationsLabel, classes: "govuk-label--s" },
          errorMessage: { text: errors.socialCareRecommendations } if errors.socialCareRecommendations
        }) }}

        {{ govukButton({ text: continueText or save }) }}
      </form>
    </div>
  </div>
{% endblock %}
