{% extends "_layouts/citizen.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block beforeContent %}
  {{ govukBackLink({ text: back, href: backHref }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errors | length %}
        {{ govukErrorSummary({ titleText: errorSummaryTitle, errorList: errors | govukErrorSummary }) }}
      {% endif %}

      <form method="post" novalidate>
        {% include "_partials/csrf-input.njk" %}
        <span class="govuk-caption-l">{{ caption }}</span>

        {% set wantRecommendationItems = [] %}
        {% for option in wantRecommendationOptions %}
          {% set _ = wantRecommendationItems.push({
            value: option.value,
            text: option.text,
            hint: { text: option.hint } if option.hint,
            checked: option.value == values.wantRecommendation
          }) %}
        {% endfor %}
        {{ govukRadios({
          name: "wantRecommendation",
          idPrefix: "wantRecommendation",
          fieldset: { legend: { text: wantRecommendationLabel, isPageHeading: true, classes: "govuk-fieldset__legend--l" } },
          hint: { text: wantRecommendationHint },
          items: wantRecommendationItems,
          errorMessage: { text: errors.wantRecommendation } if errors.wantRecommendation
        }) }}

        {{ govukButton({ text: continueText or save }) }}
      </form>
    </div>
  </div>
{% endblock %}
