{% extends "_layouts/citizen.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block beforeContent %}
  {{ govukBackLink({ text: back, href: backHref }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errors | length %}
        {{ govukErrorSummary({ titleText: errorSummaryTitle, errorList: errors | govukErrorSummary }) }}
      {% endif %}

      <form method="post" novalidate>
        {% include "_partials/csrf-input.njk" %}
        <span class="govuk-caption-l">{{ caption }}</span>

        {{ govukDateInput({
          id: "mediationCertificateDate",
          namePrefix: "mediationCertificateDate",
          fieldset: { legend: { text: mediationCertificateDateLabel, isPageHeading: true, classes: "govuk-fieldset__legend--l" } },
          hint: { text: mediationCertificateDateHint },
          items: [
            { name: "day", classes: "govuk-input--width-2", value: values["mediationCertificateDate-day"] },
            { name: "month", classes: "govuk-input--width-2", value: values["mediationCertificateDate-month"] },
            { name: "year", classes: "govuk-input--width-4", value: values["mediationCertificateDate-year"] }
          ],
          errorMessage: { text: errors.mediationCertificateDate } if errors.mediationCertificateDate
        }) }}

        {{ govukButton({ text: continueText or save }) }}
      </form>
    </div>
  </div>
{% endblock %}
