{% extends "_layouts/citizen.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block beforeContent %}
  {{ govukBackLink({ text: back, href: backHref }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errors | length %}
        {{ govukErrorSummary({ titleText: errorSummaryTitle, errorList: errors | govukErrorSummary }) }}
      {% endif %}

      <form method="post" novalidate>
        {% include "_partials/csrf-input.njk" %}
        <span class="govuk-caption-l">{{ caption }}</span>

        {{ govukCharacterCount({
          id: "typeOfProvider",
          name: "typeOfProvider",
          value: values.typeOfProvider,
          maxlength: 2000,
          rows: 6,
          label: { text: typeOfProviderLabel, isPageHeading: true, classes: "govuk-label--l" },
          hint: { text: typeOfProviderHint },
          errorMessage: { text: errors.typeOfProvider } if errors.typeOfProvider
        }) }}

        {{ govukButton({ text: continueText or save }) }}
      </form>
    </div>
  </div>
{% endblock %}
