{% extends "_layouts/citizen.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block beforeContent %}
  {{ govukBackLink({ text: back, href: backHref }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errors | length %}
        {{ govukErrorSummary({ titleText: errorSummaryTitle, errorList: errors | govukErrorSummary }) }}
      {% endif %}

      <form method="post" novalidate>
        {% include "_partials/csrf-input.njk" %}

        {% set whoIsAppealingItems = [] %}
        {% for option in whoIsAppealingOptions %}
          {% set _ = whoIsAppealingItems.push({
            value: option.value,
            text: option.text,
            hint: { text: option.hint } if option.hint,
            checked: option.value == values.whoIsAppealing
          }) %}
        {% endfor %}
        {{ govukRadios({
          name: "whoIsAppealing",
          idPrefix: "whoIsAppealing",
          fieldset: { legend: { text: whoIsAppealingLabel, isPageHeading: true, classes: "govuk-fieldset__legend--l" } },
          items: whoIsAppealingItems,
          errorMessage: { text: errors.whoIsAppealing } if errors.whoIsAppealing
        }) }}

        {{ govukButton({ text: continueText or save }) }}
      </form>
    </div>
  </div>
{% endblock %}
